body {
  font-family: "Seoge UI", sans-serif;
  background-color: #f5f5f5;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  gap: 0.5rem;
}

#task-input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

#add-task-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

#task-list {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

#task-list li {
  padding: 0.5rem;
  background-color: #e3e3e3;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.2rem 0.5 rem;
  cursor: pointer;
}
